<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
</head>
<body>


    <h2> Payment failed </h2>
    <br />
    <p>

    </p>
    <br />
<p> Please find below your reciept for your payment, A copy has also been emailed to you.</p>

<p>Payment FAILED</p>

<P>Receiptnumber:@ViewBag.receipt</P>
<h3>Property Details</h3>
<p>Address Line 1: @ViewBag.addressLine1</p>
<p>Address Line 2: @ViewBag.addressLine2</p>
<p>City : @ViewBag.city</p>
<p>State/Province/Region: @ViewBag.state</p>
<p>Zip/Postal Code: @ViewBag.zip</p>

    <p> Your Hackney Sales agent will contact you regarding the failed payment.</p>




</body>
</html>

