<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />
</head>
<body>


<h2> Thank you, your payment was successful </h2>
<br />
<p>
    
</p>
<br/>
<p> @ViewBag.firstName @ViewBag.lastName, Please find the confirmation of your payment below. A receipt has also been emailed to you.</p>

<p>Payment successful</p>
<p>Amount paid : @ViewBag.amount</p>
<P>Receipt number:@ViewBag.receipt</P>
<h3>Property Details</h3>
<p>Address line 1: @ViewBag.addressLine1</p>
<p>Address line 2: @ViewBag.addressLine2</p>
<p>City : @ViewBag.city</p>
<p>County: @ViewBag.state</p>
<p>Zip/Postal Code: @ViewBag.zip</p>


<p>Hackney Sales will be in touch with you to confirm the next steps regarding your reservation.</p>




</body>
</html>

